@charset "utf-8";
@import "~bulma/bulma";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "VueApexCharts";
@import "Paperdoll";

body {
    height: 100vh;
    margin: 0px 30px 30px 30px;
}